<!--
 Capitan quicklinks.hbs v1.0.0

 Copyright brandung GmbH & Co.KG
 http://www.brandung.de/

 Date: 2018-07-12
 MIT License (MIT)
 -->
	<ul class="quicklinks">

		<li class="quicklinks__button">
			<a class="quicklinks__link util-icon--after util-icon--arrow-right" href="#" title="[TITLE]">
				<div class="quicklinks__inner util-icon util-icon--before util-icon--emergency">
					<span>Experten</span>
					<span>Finden</span>
				</div>
			</a>
		</li>
		<li class="quicklinks__button">
			<a class="quicklinks__link util-icon--after util-icon--arrow-right" href="#" title="[TITLE]">
				<div class="quicklinks__inner util-icon util-icon--before util-icon--font">
					<span>Termin</span>
					<span>vereinbaren</span>
				</div>
			</a>
		</li>
		<li class="quicklinks__button">
			<a class="quicklinks__link util-icon--after util-icon--arrow-right" href="#" title="[TITLE]">
				<div class="quicklinks__inner util-icon util-icon--before util-icon--search">
					<span>Anreise</span>
					<span>planen</span>
				</div>
			</a>
		</li>
		<li class="quicklinks__button">
			<a class="quicklinks__link util-icon--after util-icon--arrow-right" href="#" title="[TITLE]">
				<div class="quicklinks__inner util-icon util-icon--before util-icon--close">
					<span>Aufenthalt</span>
					<span>planen</span>
				</div>
			</a>
		</li>
		<li class="quicklinks__button">
			<a class="quicklinks__link util-icon--after util-icon--arrow-right quicklinks__link--emergency" href="#" title="[TITLE]">
				<div class="quicklinks__inner util-icon util-icon--before util-icon--emergency">
					<span>Notfall-</span>
					<span>Informationen</span>
				</div>
			</a>
		</li>

	</ul>
