{{!-- components/diseases --}}

<div id="disease-filter"
  data-api="http://www.mocky.io/v2/5bc5956433000051000211c5"
  data-copytext="Name des Krankheitsbildes eingeben, z.B. Akute Herzinsuffizienz" 
  data-headline="Wonach suchen Sie?"
  data-reset="Alle" 
  data-noresult="Keine Suchergebnisse">
</div>
