<div class="disease-filter__fancybox">
  <p class="util-h3">Entzündung der Herzinnenhaut</p>
  <p class="util-reset-margin">Das ausgewählte Krankheitsbild wird je nach Art der Krankheit in verschiedenen
    Fachbereichen des Herzzentrums
    behandelt. Bei folgenden Fachbereichen finden Sie weitere Informationen:
  </p>
  <div class="btn-group btn-group--flex">
    <a href="#" class="btn btn--secondary util-icon--after util-icon--arrow-right">Innere Medizin und Kardiologie</a>
    <a href="#" class="btn btn--secondary util-icon--after util-icon--arrow-right">Herz-, Torax- und Gefäßchirugie</a>
  </div>
  <p class="util-add-margin-y">Sie wissen nicht, welcher Fachbereich für Sie zuständig ist? Gerne helfen wir Ihnen
    weiter!
    Kontaktieren Sie uns:</p>
  <div class="teaser teaser--contact-person">
    <picture class="teaser__media">
      <source media="(max-width: 479px)" srcset="data:image/svg+xml;charset&#x3D;UTF-8,%0A%3Csvg%20width%3D%2255%22%20height%3D%2273%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2055%2073%22%20preserveAspectRatio%3D%22none%22%3E%0A%20%20%3Cdefs%3E%0A%20%20%20%20%3Cstyle%20type%3D%22text%2Fcss%22%3E%0A%20%20%20%20%20%20%23holder%20text%20%7B%0A%20%20%20%20%20%20%20%20fill%3A%20%23333%3B%0A%20%20%20%20%20%20%20%20font-family%3A%20sans-serif%3B%0A%20%20%20%20%20%20%20%20font-size%3A%2020px%3B%0A%20%20%20%20%20%20%20%20font-weight%3A%20bold%3B%0A%20%20%20%20%20%20%7D%0A%20%20%20%20%3C%2Fstyle%3E%0A%20%20%3C%2Fdefs%3E%0A%20%20%3Cg%20id%3D%22holder%22%3E%0A%20%20%20%20%3Crect%20width%3D%22100%25%22%20height%3D%22100%25%22%20fill%3D%22%23ccc%22%3E%3C%2Frect%3E%0A%20%20%20%20%3Cg%3E%0A%20%20%20%20%20%20%3Ctext%20text-anchor%3D%22middle%22%20x%3D%2250%25%22%20y%3D%2250%25%22%20dy%3D%22.3em%22%3E55x73%3C%2Ftext%3E%0A%20%20%20%20%3C%2Fg%3E%0A%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E">
      <source media="(max-width: 767px)" srcset="data:image/svg+xml;charset&#x3D;UTF-8,%0A%3Csvg%20width%3D%22162%22%20height%3D%22216%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20162%20216%22%20preserveAspectRatio%3D%22none%22%3E%0A%20%20%3Cdefs%3E%0A%20%20%20%20%3Cstyle%20type%3D%22text%2Fcss%22%3E%0A%20%20%20%20%20%20%23holder%20text%20%7B%0A%20%20%20%20%20%20%20%20fill%3A%20%23333%3B%0A%20%20%20%20%20%20%20%20font-family%3A%20sans-serif%3B%0A%20%20%20%20%20%20%20%20font-size%3A%2024px%3B%0A%20%20%20%20%20%20%20%20font-weight%3A%20bold%3B%0A%20%20%20%20%20%20%7D%0A%20%20%20%20%3C%2Fstyle%3E%0A%20%20%3C%2Fdefs%3E%0A%20%20%3Cg%20id%3D%22holder%22%3E%0A%20%20%20%20%3Crect%20width%3D%22100%25%22%20height%3D%22100%25%22%20fill%3D%22%23ccc%22%3E%3C%2Frect%3E%0A%20%20%20%20%3Cg%3E%0A%20%20%20%20%20%20%3Ctext%20text-anchor%3D%22middle%22%20x%3D%2250%25%22%20y%3D%2250%25%22%20dy%3D%22.3em%22%3E162x216%3C%2Ftext%3E%0A%20%20%20%20%3C%2Fg%3E%0A%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E">
      <img src="data:image/svg+xml;charset&#x3D;UTF-8,%0A%3Csvg%20width%3D%22215%22%20height%3D%22286%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20215%20286%22%20preserveAspectRatio%3D%22none%22%3E%0A%20%20%3Cdefs%3E%0A%20%20%20%20%3Cstyle%20type%3D%22text%2Fcss%22%3E%0A%20%20%20%20%20%20%23holder%20text%20%7B%0A%20%20%20%20%20%20%20%20fill%3A%20%23ffffff%3B%0A%20%20%20%20%20%20%20%20font-family%3A%20sans-serif%3B%0A%20%20%20%20%20%20%20%20font-size%3A%2028px%3B%0A%20%20%20%20%20%20%20%20font-weight%3A%20bold%3B%0A%20%20%20%20%20%20%7D%0A%20%20%20%20%3C%2Fstyle%3E%0A%20%20%3C%2Fdefs%3E%0A%20%20%3Cg%20id%3D%22holder%22%3E%0A%20%20%20%20%3Crect%20width%3D%22100%25%22%20height%3D%22100%25%22%20fill%3D%22%23ccc%22%3E%3C%2Frect%3E%0A%20%20%20%20%3Cg%3E%0A%20%20%20%20%20%20%3Ctext%20text-anchor%3D%22middle%22%20x%3D%2250%25%22%20y%3D%2250%25%22%20dy%3D%22.3em%22%3E215x286%3C%2Ftext%3E%0A%20%20%20%20%3C%2Fg%3E%0A%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E"
        alt="[ALT]">
    </picture>
    <div class="teaser__caption">
      <h4 class="teaser__title">Rita Wanninger</h4>
      <p class="teaser__special">Leitung Personal</p>
      <p class="teaser__clinic">MediClin Dünewald-Klinik</p>
      <ul class="contact-list">
        <li class="util-link util-icon--before util-icon--tel">Tel.:&nbsp;<a href="tel:+4978219251200" title="[TITLE]">+4978219251200</a></li>
        <li class="util-link util-icon--before util-icon--fax">Fax: +4978219251210</li>
        <li class="util-link util-icon--before util-icon--mail"><a data-fancybox data-type="ajax" href="https://career-stage.mcl.kundenheimat.de/?type=1535104065&tx_brafacilitymdc_expert[person]=1&no_cache=1"
            title="[TITLE]">Nachricht schreiben</a></li>
      </ul>
    </div>
  </div>
</div>