{{!-- components/nav-news --}}
<nav class="nav-news">
	<ul>
		<li class="nav-news__previous" rel="prev">
			<a href="#" title="[TITLE]" class="nav-news__preview">
				<div class="nav-news__caption">
					<small>22. März 2018</small>
					<h4 class="util-h6">Interview: Neue Therapiemöglichkeit bei Aortenklappenstenose</h4>
				</div>
				<img src="{{imagePlaceholder width='110' height='110' bg="#eee" fg="#666" size="28px"}}">
			</a>
		</li>
		<li class="nav-news__next" rel="next">
			<a href="#" title="[TITLE]" class="nav-news__preview">
				<div class="nav-news__caption">
					<small>22. März 2018</small>
					<h4 class="util-h6">Interview: Neue Therapiemöglichkeit bei Aortenklappenstenose</h4>
				</div>
				<img src="{{imagePlaceholder width='110' height='110' bg="#eee" fg="#666" size="28px"}}">
			</a>
		</li>
	</ul>
</nav>
