{{!-- components/main-focus --}}
<div class="main-focus">
	<div class="main-focus__caption">
		<p class="util-h3 main-focus__title">{{{title}}}</p>

		<p class="util-visible-sm">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
	</div>

	<ul class="main-focus__items">
		<li class="main-focus__item">
			<a href="#" title="[TITLE]"><span class="util-icon--before util-icon--orthopedy">Orthopädie</span></a>
		</li>
		<li class="main-focus__item">
			<a href="#" title="[TITLE]"><span class="util-icon--before util-icon--neurology">Neurologie</span></a>
		</li>
		<li class="main-focus__item">
			<a href="#" title="[TITLE]"><span class="util-icon--before util-icon--psychosomatic">Psychosomatik</span></a>
		</li>
		<li class="main-focus__item">
			<a href="#" title="[TITLE]"><span class="util-icon--before util-icon--spine">Wirbelsäulenerkrankungen -<br> Traumatologie</span></a>
		</li>
		<li class="main-focus__item">
			<a href="#" title="[TITLE]"><span class="util-icon--before util-icon--anesthesiology">Anästhesiologie und Intensivmedizin</span></a>
		</li>
		<li class="main-focus__item">
			<a href="#" title="[TITLE]"><span class="util-icon--before util-icon--psychiatry">Psychiatrie</span></a>
		</li>
		<li class="main-focus__item util-hidden-sm">
			<a href="#" title="[TITLE]"><span class="util-icon--before util-icon--specializations">Spezialisierungen</span></a>
		</li>
	</ul>

	<div class="main-focus__specials">
		<p class="util-h4 main-focus__title">Spezialisierungen</p>

		<p>Die ganzheitliche Betreuung unserer Patienten liegt uns besonders am Herzen. Erfahren Sie mehr über</p>

		<ul class="util-unstyled">
			<li>
				<a class="util-link util-icon--after util-icon--arrow-right" href="#" title="[TITLE]">Adipositas</a>
			</li>
			<li>
				<a class="util-link util-icon--after util-icon--arrow-right" href="#" title="[TITLE]">Diabetes</a>
			</li>
			<li>
				<a class="util-link util-icon--after util-icon--arrow-right" href="#" title="[TITLE]">Hörschädigung</a>
			</li>
			<li>
				<a class="util-link util-icon--after util-icon--arrow-right" href="#" title="[TITLE]">Herz-Hirn Station</a>
			</li>
		</ul>
	</div>
</div>
