@charset "utf-8";

/**
 * Capitan gewinnspiel.scss v1.0.0
 *
 *
 * Date: 2018-10-31
 * MIT License (MIT)
 */

/* ==========================================================================
   Gewinnspiel
   ========================================================================== */

@import '../../sass/partials/functions';
@import '../../sass/partials/variables';
@import '../../sass/partials/mixins';

$component: 'gewinnspiel';


// block
%#{$component} {
	@include clearfix();
}


// elements
.#{$component}__door-groupe {

	height: 100vh;
	.door {
		position:absolute; margin: 0;
		background: #191919;

		&-button {
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			color: white;
			background-color:transparent;
			border:0;
			width: 100%;
			height: 100%;
			cursor:pointer;
			font-size: 110%;
			overflow: hidden;

			&:before {
				content: '';
				position: absolute;
				z-index: -1;
				width: 40px;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);

				border-radius: 50px;

				height: 40px;
				background-color: hsla(114, 0%, 4%, 0.61);
			}
		}

		&-1 {
			left:53.5%; top:25.5%; width:13%; height:7.5%;
			border-radius: 50px;
			background-image: url("/Resources/Public/img/jpg/geschenk/0132-geschenkpapier-weihnachten-gruen-ausschnitt.jpg");
			background-repeat: no-repeat;
			background-size: cover;
		}

		&-2 {
			left:68%; top:34%; width:12.5%; height:7.5%;
			border-radius: 50px;
			background-image: url("/Resources/Public/img/jpg/geschenk/3060_0.jpg");
			background-repeat: no-repeat;
			background-size: cover;
		}

		&-3 {
			left:17%; top:39.5%; width:13.5%; height:8%;
			border-radius: 50px;
			background-image: url("/Resources/Public/img/jpg/geschenk/4023.180908.172141_kkr-wellen-gruen.jpg");
			background-repeat: no-repeat;
			background-size: cover;
		}

		&-4 {
			left:31%; top:76.5%; width:19%; height:11%;
			border-radius: 50px;
			background-image: url("/Resources/Public/img/jpg/geschenk/179502_verpackungskuenstler_weihnachten-skandinavisch_innen-1.jpg");
			background-repeat: no-repeat;
			background-size: cover;
		}

		&-5 {
			left:72.5%; top:70.5%; width:12.5%; height:10%;
			border-radius: 50px;
			background-image: url("/Resources/Public/img/jpg/geschenk/550024_-geschenkpapier-weihnachten-rot-gold-50cm-x-100m.jpg");
			background-repeat: no-repeat;
			background-size: cover;
		}

		&-6 {
			left:53.5%; top:51.5%; width:13%; height:5.5%;
			border-radius: 50px;
			background-image: url("/Resources/Public/img/jpg/geschenk/550025_-geschenkpapier-weihnachten-schwarz-kupfer-50cm-x-100m.jpg");
			background-repeat: no-repeat;
			background-size: cover;
		}

		&-7 {
			left:33%; top:39.5%; width:17.5%; height:8%;
			border-radius: 50px;
			background-image: url("/Resources/Public/img/jpg/geschenk/550026_-geschenkpapier-weihnachten-silber-schwarz-50cm-x-100m.jpg");
			background-repeat: no-repeat;
			background-size: cover;
		}

		&-8 {
			left:69%; top:42.5%; width:22%; height:14.5%;
			border-radius: 50px;
			background-image: url("/Resources/Public/img/jpg/geschenk/550031_-geschenkpapier-elegant-bordeaux-gold-50cm-x-100m_600x600.jpg");
			background-repeat: no-repeat;
			background-size: cover;
		}

		&-9 {
			left:12%; top:79%; width:15%; height:9%;
			border-radius: 50px;
			background-image: url("/Resources/Public/img/jpg/geschenk/550037_-geschenkpapier-winter-rot-weiss-50cm-x-100m-65g-qm_600x600.jpg");
			background-repeat: no-repeat;
			background-size: cover;
		}

		&-10 {
			left:53.5%; top:81.5%; width:29%; height:12.5%;
			border-radius: 50px;
			background-image: url("/Resources/Public/img/jpg/geschenk/64615291.jpg");
			background-repeat: no-repeat;
			background-size: cover;
		}

		&-11 {
			left: 53.5%; top:42.5%; width:12.5%; height:8%;
			border-radius: 50px;
			background-image: url("/Resources/Public/img/jpg/geschenk/christmas-paper-554687_960_720.jpg");
			background-repeat: no-repeat;
			background-size: cover;
		}

		&-12 {
			left:33.5%; top:26%; width:16%; height:12.5%;
			border-radius: 50px;
			background-image: url("/Resources/Public/img/jpg/geschenk/christmas-paper-554691_960_720.jpg");
			background-repeat: no-repeat;
			background-size: cover;
		}

		&-13 {
			left:54%; top:70.5%; width:15.5%; height:10%;
			border-radius: 50px;
			background-image: url("/Resources/Public/img/jpg/geschenk/depositphotos_33404793-stock-illustration-abstract-vector-christmas-wrapping-paper.jpg");
			background-repeat: no-repeat;
			background-size: cover;
		}

		&-14 {
			left:16.5%; top:49%; width:16%; height:13%;
			border-radius: 50px;
			background-image: url("/Resources/Public/img/jpg/geschenk/depositphotos_93716328-stock-illustration-gift-wrapping-paper-in-christmas.jpg");
			background-repeat: no-repeat;
			background-size: cover;
		}

		&-15 {
			left:53.5%; top:34%; width:12.5%; height:7.5%;
			border-radius: 50px;
			background-image: url("/Resources/Public/img/jpg/geschenk/Download.jpg");
			background-repeat: no-repeat;
			background-size: cover;
		}

		&-16 {
			left:29.5%; top:63.5%; width:20%; height:11.5%;
			border-radius: 50px;
			background-image: url("/Resources/Public/img/jpg/geschenk/Fahrrad_Geschenkpapier_ml.jpg");
			background-repeat: no-repeat;
			background-size: cover;
		}

		&-17 {
			left:13%; top:25.5%; width:13%; height:5%;
			border-radius: 50px;
			background-image: url("/Resources/Public/img/jpg/geschenk/geschenkpapier-milano-00s-064-704-2.jpg");
			background-repeat: no-repeat;
			background-size: cover;
		}

		&-18 {
			left:38%; top:88.5%; width:12%; height:7%;
			border-radius: 50px;
			background-image: url("/Resources/Public/img/jpg/geschenk/geschenkpapier-weihnachten-kinder-weihnachtsmaenner-rentiere-rot_3.jpg");
			background-repeat: no-repeat;
			background-size: cover;
		}

		&-19 {
			left:11.5%; top:31%; width:17.5%; height:7.5%;
			border-radius: 50px;
			background-image: url("/Resources/Public/img/jpg/geschenk/Geschenkpapier-Weihnachten-marine-blau-gold-wei-Schneeblume-.jpg");
			background-repeat: no-repeat;
			background-size: cover;
		}

		&-20 {
			left:17%; top:88.5%; width:18%; height:7%;
			border-radius: 50px;
			background-image: url("/Resources/Public/img/jpg/geschenk/geschenkpapier_mini_herzchen_hochzeit_geschenk_papierbogen_ja_hochzeitsshop.jpg");
			background-repeat: no-repeat;
			background-size: cover;
		}

		&-21 {
			left:76.5%; top:58%; width:16.5%; height:10%;
			border-radius: 50px;
			background-image: url("/Resources/Public/img/jpg/geschenk/K401576-3_-_Flowers_Black-Gold.jpg");
			background-repeat: no-repeat;
			background-size: cover;
		}

		&-22 {
			left:34%; top:49%; width:15.5%; height:13%;
			border-radius: 50px;
			background-image: url("/Resources/Public/img/jpg/geschenk/susy-geschenkpapier-weihnachten-bambi-friends.jpg");
			background-repeat: no-repeat;
			background-size: cover;
		}

		&-23 {
			left:68%; top:25.5%; width:12.5%; height:7.5%;
			border-radius: 50px;
			background-image: url("/Resources/Public/img/jpg/geschenk/depositphotos_37068743-stock-illustration-christmas-texture-for-wrapping-paper.jpg");
			background-repeat: no-repeat;
			background-size: cover;
		}

		&-24 {
			left:53.5%; top:58.5%; width:21%; height:11%;
			border-radius: 50px;
			background-image: url("/Resources/Public/img/jpg/geschenk/geschenkpapier-weihnachten-merry-christmas-gruen_2.jpg");
			background-repeat: no-repeat;
			background-size: auto;
			background-position: center;
		}
	}

}

// modifier


// component class selector
.#{$component} {
	@extend %#{$component};
}
