<!--
Capitan disease-box v1.0.0

Copyright brandung GmbH & Co.KG
http://www.brandung.de/

Date: 2018-10-19
MIT License (MIT)
-->

<div data-infobox="{{id}}" class="{{selectClass}} disease-box disease-box--hidden">
  <span class="disease-box__close util-icon--before util-icon--close"></span>
  <p class="util-h3">Bluthochdruck</p>
  <p class="util-reset-margin">
    Das ausgewählte Krankheitsbild wird je nach Art der Krankheit in verschiedenen
    Fachbereichen des Herzzentrums
    behandelt. Bei folgenden Fachbereichen finden Sie weitere Informationen:
  </p>
  <div class="btn-group btn-group--flex">
    <a href="#" class="btn btn--secondary util-icon--after util-icon--arrow-right">Innere Medizin und Kardiologie</a>
    <a href="#" class="btn btn--secondary util-icon--after util-icon--arrow-right">Herz-, Torax- und Gefäßchirugie</a>
  </div>
  <div class="util-text-center"><button class="util-hidden-md disease-box__close btn btn--small">Schließen</button></div>
</div>