<!--
 Capitan cookie-layer.hbs v1.0.0

 Copyright brandung GmbH & Co.KG
 http://www.brandung.de/

 Date: 2017-01-20
 MIT License (MIT)
 -->
<div class="cookie-layer">
	<div class="cookie-layer__container">
		<div class="cookie-layer__content">
			<p>
				Wir verwenden Cookies, um Ihnen einen besseren Service zu bieten, den Seitenverkehr zu analysieren, Inhalte zu personalisieren und gezielte Werbung zu schalten. Wenn Sie diese Seite weiterhin nutzen, stimmen Sie der Verwendung von Cookies zu. Lesen Sie, wie wir Cookies verwenden und wie Sie sie steuern können, indem Sie hier klicken:
				<a href="" title="Datenschutzerklärung">
					Datenschutzerklärung
				</a>
			</p>
		</div>
		<div class="cookie-layer__action">
			<div class="btn btn--primary-alt cookie-layer__close">
				Okay
			</div>
		</div>
	</div>
</div>

