{{!-- components/search-form --}}
<div class="search-form{{#if class}} {{class}}{{/if}}">
	<input class="search-form__input" placeholder="Was suchen Sie?">
	<div class="search-form__autocomplete">
		<ul>
			<li>Gesundheit</li>
			<li>Gesund leben</li>
			<li>Gesundheitscheck</li>
			<li>Gesund ernähren</li>
			<li>Lorem ipsum Gesundheit</li>
		</ul>
	</div>
	<button class="search-form__button btn btn--primary btn--icon btn--icon-only util-icon--before util-icon--search"></button>
</div>