{{!-- views/index.hbs --}}
{{#> base title="" }}
	{{#*inline "main-block"}}

		<main id="main">


                    <div class="col-xs-12">
                        {{> canvasSF }}
						{{> gewinnspiel }}
					</div>


		</main>

	{{/inline}}
{{/base}}