{{!-- views/index.hbs --}}
{{#> base title="" }}
	{{#*inline "main-block"}}

		<main id="main">
			<div class="container">
				<div class="row util-add-margin-top-full">
                    <div class="col-xs-12">
						<p>Viel Spaß bei dem kleinen Gewinnspiel.</p>
						<p>Viel Spaß bei dem kleinen Gewinnspiel.</p>
						<p>Viel Spaß bei dem kleinen Gewinnspiel.</p>
						<p>Viel Spaß bei dem kleinen Gewinnspiel.</p>
						<p>Viel Spaß bei dem kleinen Gewinnspiel.</p>
						<p>Viel Spaß bei dem kleinen Gewinnspiel.</p>
						<p>Viel Spaß bei dem kleinen Gewinnspiel.</p>
						<p>Viel Spaß bei dem kleinen Gewinnspiel.</p>
						<p>Viel Spaß bei dem kleinen Gewinnspiel.</p>
						<p>Viel Spaß bei dem kleinen Gewinnspiel.</p>
						<p>Viel Spaß bei dem kleinen Gewinnspiel.</p>
						<p>Viel Spaß bei dem kleinen Gewinnspiel.</p>
						<p>Viel Spaß bei dem kleinen Gewinnspiel.</p>
						<p>Viel Spaß bei dem kleinen Gewinnspiel.</p>
						<p>Viel Spaß bei dem kleinen Gewinnspiel.</p>
						<p>Viel Spaß bei dem kleinen Gewinnspiel.</p>
					</div>
				</div>
			</div>
		</main>

	{{/inline}}
{{/base}}