{{!-- views/index.hbs --}}
{{#> base title="" }}
	{{#*inline "main-block"}}

		<main id="main">
			<div class="container">
				<div class="row util-add-margin-top-full">
                    <div class="col-xs-12">
						<p>Dies ist ein Projekt was nur für den Zeitraum vom 01.12.2018 bis zum 01.01.2019 geht.</p>
					</div>
				</div>
			</div>
		</main>

	{{/inline}}
{{/base}}