{{!-- views/creator.hbs --}}
{{#> base title="" }}
	{{#*inline "main-block"}}

		<main id="main" style="height: 100vh;">


				<div class="row" style="">
                    <canvas id="canvas" width="778" height="387" style="
		position: absolute;
		width: 100%;
		height: 100%;
		text-align: center;
		background-color: #2ac3ff;
		left: 0;
		right: 0;
		bottom: 0;
		"></canvas>
                    <script>
                        function canvas () {
                            var canvas = document.getElementById('canvas');
                            var ctx = canvas.getContext('2d');
                            var w = canvas.width;
                            var h = canvas.height;



                            var flakes = [];

                            function snowfall () {
                                ctx.clearRect(0, 0, w, h);

                                addFlake();
                                snow();
                            };

                            function addFlake () {
                                var x = Math.ceil(Math.random() * w);
                                var s = Math.ceil(Math.random() * 4);
                                flakes.push({"x": x, "y": 0, "s": s});
                            };

                            function snow () {
                                for (var i = 0; i < flakes.length; i++) {
                                    var flake = flakes[i];
                                    ctx.beginPath();
                                    ctx.fillStyle = "rgba(255, 255, 255, 0.7)";
                                    ctx.arc(flake.x, flakes[i].y+=flake.s/2, flake.s/2, 0, 2 * Math.PI);
                                    ctx.fill();
                                    if(flakes[i].y > h){
                                        flakes.splice(i, 1);
                                    }
                                };
                            };

                            setInterval(snowfall, 20);
                        };

                        canvas();
                    </script>
                    <p style=" z-index: 1; text-align: center; padding: 0 20px;"></p>
						<script>
							function win(x) {
								document.querySelector("p").innerHTML =
										"<h1>Du hast Gewonnen!</h1>" +
										"<p>" +
											"Du hast die Gewinnzahl " +
											x +
											" in deinem Türchen gezogen." +
										"</p>" +
										"<p>" +
											"Nenne mir unter den angegebenen Möglichkeiten deine Gewinnzahl und hole dir deinen Gewinn ab:" +
											"<br><br>" +
                                            "<div style='width: 223px; margin: 0 auto; text-align: center;'>" +
											"<a href='tel:015758849649' class='util-icon util-icon--before util-icon--tel'>015758849649</a>" +
											"<a href='mailto:tobias-lueger@web.de' class='util-icon util-icon--before util-icon--mail'>tobias-lueger@web.de</a>" +
                                            "</div>" +
                                        "</p>" +
										"<p>" +
											"Viel Spaß noch mit unserem Adventskalender :)" +
										"</p>" +
                                        "<div style=\"width:100%;\"><iframe src=\"https://giphy.com/embed/xUPGcHretmclA1QgY8\" frameBorder=\"0\"  ></iframe></div>";
							}

							function lose(x) {
								document.querySelector("p").innerHTML =
										"<h1>Du hast leider Verloren!</h1>" +
										"<p>" + "Trotzdem wünsche ich dir noch wieterhin viel Spaß mit unserem Adventskalender :)" + "</p>" +
                                        "<div style=\"width:100%;\"><iframe src=\"https://giphy.com/embed/3ofSBtvJgK8VY2tlUA\" frameBorder=\"0\"  ></iframe></div>"
                                ;
							}

							let x = localStorage[ "gesetzt" ];

							if (x == "13") {
								win(x);

							}
							else {
								lose(x);
							}
						</script>
					</div>
				</div>

		</main>

	{{/inline}}
{{/base}}