<!--
 Capitan custom-datepicker.hbs v1.0.0

 Copyright brandung GmbH & Co.KG
 http://www.brandung.de/

 Date: 2017-08-29
 MIT License (MIT)
 -->

<div class="form__field-wrapper col-xs-12 col-md-6">
    <input class="custom-datepicker {{class}}" type="{{type}}"/>
    <label class="form__label" for="date">{{label}}</label>
</div>
