{{!-- components/contact-box --}}
<div class="contact-box">
	<div class="contact-box__data">
		<div class="contact-box__content">
			<p>
				<small>Unsere kostenlose Hotline</small>
				<a href="tel:08004455888" class="util-icon--before util-icon--tel">0800 44 55 888</a>
			</p>
			<p>
				<strong>Wir sind für Sie da!</strong><br>
				Mo-Do 07:30-18:30<br>
				Fr 07:30-17:30
			</p>
		</div>
	</div>
	<div class="contact-box__contact-person">
		<p><strong>Sprechen Sie uns an</strong></p>
		<p>Unser Ziel ist Ihre Gesundheit. Finden Sie bei uns den richtigen Spezialisten aus Medizin und Therapie für Ihr Anliegen.</p>
		{{> button type="anker" text="Ansprechpartner finden" class="btn btn--secondary" url="/" }}
	</div>
</div>