<!--
 Capitan quotation.hbs v1.0.0

 Copyright brandung GmbH & Co.KG
 http://www.brandung.de/

 Date: 2018-07-27
 MIT License (MIT)
 -->

<div class="quotation row">
	<div class="col-xs-2 icon">
		<div class="util-icon util-icon--before util-icon--quote"></div>
	</div>

	<div class="col-xs-10">
		<p>
            {{{ content }}}
		</p>

		<p class="quotation__author">
			- {{{ author }}}
		</p>
	</div>
</div>