{{!-- components/header --}}
<header class="header">
	<div class="header__main-wrapper">
		<div class="container">
			<a href="/" class="header__logo">
				{{#if logoUrl}}
					<img src="{{logoUrl}}" title="[TITLE]" alt="MEDICLIN" width="200" height="46">
				{{else}}
					<img src="/Resources/Public/img/jpg/christmas-logo2.png" title="[TITLE]" alt="MEDICLIN" width="200" height="40">
				{{/if}}
			</a>

			<div class="header__nav-mobile">

				<div class="header__nav-button nav-mobile__toggle nav-mobile-trigger">
					<div class="header__nav-mobile-icon">
						<span></span>
						<span></span>
						<span></span>
						<span></span>
					</div>
					Menü
				</div>
			</div>

			<div class="header__nav-main">
				{{> nav-main this}}
			</div>
		</div>
	</div>
</header>
