@charset "utf-8";

/**
 * Capitan variables.scss v3.0.0
 *
 * Copyright brandung GmbH & Co.KG
 * http://www.brandung.de/
 *
 * Date: 2015-06-27
 * MIT License (MIT)
 */

/* ==========================================================================
   Colors
   ========================================================================== */

/* <@colors */
$colors: (
		'black': #191919,
		'white': #fff,
		'red': #ED254E,
		'ci': #b71709,
		'ci-hover': #650f07,
		'grey-light': #EEE,
		'grey-lightest': #F5F5F5,
		'green-light': #D7DBCF,
		'green-lightest': #F5F6F3,
		'accent-blue': #b71709,
		'accent-yellow': #DAB707,
		'accent-turquois': #b71709,
		'success': #b71709,
		'error': #ED254E,
		'orange': #e46648,
		'orange-dark': #cf4e35
);

/* colors@> */

/* ==========================================================================
   Icons
   ========================================================================== */

/* <@icons */
$icons: (
		close: '\e900'
);

/* icons@> */