{{!-- layouts/T000-Startseite-Kliniken.hbs --}}
{{#> base title="" }}
    {{#*inline "main-block"}}

        <main id="main">

            <div class="container">
                <div class="row">
                    <div class="col-xs-12 util-add-margin-top-full">
                        <div class="table-block{{#if class}} {{class}}{{/if}}">
                            {{#if showHeader}}
                                <div class="row">
                                    <div class="col-xs-12 table-block__header">
                                        <h2>Video headline</h2>
                                    </div>
                                </div>
                            {{/if}}

                            <div class="row">
                                <div class="col-xs-12 col-lg-3">
                                    <h5>Video</h5>
                                </div>
                                
                                <div class="col-xs-12 col-lg-9">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            {{> embed-video id="qicY-onepyQ" platform=true url="https://www.youtube-nocookie.com/embed/m3j4FZn1izM?autoplay=1" showHeadline=false showTeaserTextOver=false showTeaserTextUnder=false }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </main>

    {{/inline}}
{{/base}}
