{{!-- layouts/M003-Quotation.hbs --}}
{{#> base title="" }}
    {{#*inline "main-block"}}

        <main id="main">
            <section class="section section--bg-green-light">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            {{> quotation content="Es ist schon das siebente Mal, dass meine Schwiegermutter Weihnachten zu Besuch kommt. Diesmal werden wir sie wohl hereinlassen." author="Jan F." }}
                        </div>
                    </div>
                </div>
            </section>

            <section class="section">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            {{> quotation content="Ich habe Alzheimer-Bulimie – erst esse ich alles, dann vergesse ich zu kotzen!" author="Guido S." }}
                        </div>
                    </div>
                </div>
            </section>

            <section class="section section--bg-grey">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            {{> quotation content="Der einzige Fachkräfte-Mangel, den wir hier im Land haben, ist der in der Regierung." author="Fabio N." }}
                        </div>
                    </div>
                </div>
            </section>
        </main>

    {{/inline}}
{{/base}}
