{{!-- layouts/M004-Teaser-Between.hbs --}}
{{#> base title="" }}
    {{#*inline "main-block"}}

        <main id="main">
            <section class="section section--bg-grey">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            {{> teaser modifier="teaser-between" class="teaser--between" image=true title="Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonu" showCTA=true }}
                        </div>
                        <div class="col-xs-12">
                            {{> teaser modifier="teaser-between" class="teaser--between" image=true title="Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonu" showCTAGroup=true buttonCount=2 }}
                        </div>

                        <div class="col-xs-12">
                            {{> teaser modifier="teaser-between" class="teaser--between" title="Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonu" showCTAGroup=true buttonCount=2 }}
                        </div>

                        <div class="col-xs-12">
                            {{> teaser modifier="teaser-between" class="teaser--between" title="Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonu" showCTAGroup=true buttonCount=4 }}
                        </div>

                        <div class="col-xs-12">
                            {{> teaser modifier="teaser-between" class="teaser--between" title="Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonu" }}
                        </div>

                        <div class="col-xs-12">
                            {{> teaser modifier="teaser-between" class="teaser--between" icon="map" title="Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonu" }}
                        </div>

                        <div class="col-xs-12">
                            {{> teaser modifier="teaser-between" class="teaser--between" icon="map" title="Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonu" showCTA=true }}
                        </div>

                        <div class="col-xs-12">
                            {{> teaser modifier="teaser-between" class="teaser--between" icon="map" title="Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonu" showCTA=true telephone="+49 1234 56 78 90" }}
                        </div>

                        <div class="col-xs-12">
                            {{> teaser modifier="teaser-between" class="teaser--between" icon="map" title="Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet." showCTA=true telephone="+49 1234 56 78 90" }}
                        </div>

                        <div class="col-xs-12">
                            {{> teaser modifier="teaser-between" class="teaser--between teaser--between-emergency" title="Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonu" showCTAGroup=true buttonCount=2 }}
                        </div>

                        <div class="col-xs-12">
                            {{> teaser modifier="teaser-between" class="teaser--between teaser--between-emergency" title="Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonu" showCTAGroup=true buttonCount=4 }}
                        </div>

                        <div class="col-xs-12">
                            {{> teaser modifier="teaser-between" class="teaser--between teaser--between-emergency" title="Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonu" icon="emergency-o" showCTA=true telephone="+49 1234 56 78 90" }}
                        </div>

                        <div class="col-xs-12">
                            {{> teaser modifier="teaser-between" class="teaser--between teaser--between-emergency" icon="emergency-o" title="Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet." showCTA=true telephone="+49 1234 56 78 90" }}
                        </div>

                        <div class="col-xs-12">
                            {{> teaser modifier="teaser-between" class="teaser--between teaser--between-emergency" icon="emergency-o" title="Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonu" }}
                        </div>

                        <div class="col-xs-12">
                            {{> teaser modifier="teaser-between" class="teaser--between teaser--between-emergency" title="Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonu" }}
                        </div>
                    </div>
                </div>
            </section>
        </main>

    {{/inline}}
{{/base}}
