{{!-- components/expert-finder --}}

<div class="expert-finder" data-wrapper="expertFinder">
    <div class="row">
		<div class="col-xs-12">
			{{> listing-results searchterm="1236 Experten gefunden" }}
		</div>

        <div class="col-xs-12">
            {{> animations modifier="fade-zoom-in" count=6 }}
        </div>

        <div class="col-xs-12">
			{{> pagination modifier="pagination-listing" searchterm="1236 Experten gefunden" }}
        </div>
    </div>
</div>