@charset "utf-8";

/**
 * Capitan tabs.scss v1.0.0
 *
 * Copyright brandung GmbH & Co.KG
 * http://www.brandung.de/
 *
 * Date: 2018-08-14
 * MIT License (MIT)
 */

/* ==========================================================================
   Tabs
   ========================================================================== */

@import '../../sass/partials/functions';
@import '../../sass/partials/variables';
@import '../../sass/partials/mixins';

$component: 'tabs';


// block
%#{$component} {
	@include clearfix();

	@include respondMin(point('min-md')) {
		@include respondMax(point('max-md')) {
			margin-right: -20px;
			margin-left: -20px;
		}
	}
}


// elements
.#{$component}__navigation {
	list-style: none;
	padding-left: 0;
	margin: 0;
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: center;

	@include respondMax(point('max-md')) {
		margin-left: -10px;
		margin-right: -10px;
	}

	&:before {
		@include respondMin(point('min-lg')) {
			background-color: color('green-light');
			content: '';
			width: 100vw;
			height: 1px;
			bottom: 0;
			position: absolute;
		}
	}
	
	& > li {
		background-color: color('grey-lightest');
		border: 1px solid color('green-light');
		border-top: 5px solid color('green-light');
		margin: 0;
		display: flex;
		justify-content: center;
		flex-grow: 1;
		flex-shrink: 1;
		flex-basis: 100%;

		@include respondMin(point('min-lg')) {
		    margin: 0 $grid-gutter-width-half;
		}


		&:first-of-type {
			@include respondMin(point('min-lg')) {
				margin-left: 0;
			}
		}

		&:last-of-type {
			@include respondMin(point('min-lg')) {
				margin-right: 0;
			}
		}

		&:hover {
			background-color: color('white');
			cursor: pointer;
		}

		&.active {
			border-top: 5px solid color('ci');
			border-bottom: solid 1px color('white');
			background-color: color('white');
			z-index: 1;
		}
		
		& > span:before {
			color: color('ci');
		}
		
		& > a {
			color: color('black');
			display: block;
			text-align: left;
			padding: $grid-gutter-width-half * 1.5 0;
			
			@include respondMin(point('min-md')) {
				@include fontSizeREM(16);
				text-align: center;
			}
		}

		&:hover > a {
			color: color('ci');
			text-decoration: none;
		}
	}
}


.#{$component}__content {
	padding: $grid-gutter-width*2 $grid-gutter-width;
}


.#{$component}__dropdown {
	display: none;
}


// modifier
.#{$component}--3-tabs {

	.#{$component}__navigation {

		@include respondMax(point('max-sm')) {
			display: none;
		}
	}

	.#{$component}__dropdown {

		@include respondMax(point('max-sm')) {
			display: block;
		}
	}
}


.#{$component}--4-tabs {

	.#{$component}__navigation {

		@include respondMax(point('max-md')) {
			display: none;
		}
	}

	.#{$component}__dropdown {

		@include respondMax(point('max-md')) {
			display: block;
		}
	}
}


.#{$component}--redirect {
	li {
		& > a {
			width: 100%;
		}
	}
}




// component class selector
.#{$component} {
	@extend %#{$component};
}
