{{!-- components/footer --}}
{{> scrolltop }}
<footer class="footer">
    <div class="footer__secondary">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="footer__content">
                        <small>© 2018 Tobias Lüger, Advents Gewinnspiel GmbH</small>

                        <div class="footer__links">
                            <ul>
                                <li><a href="#" title="[TITLE]">Impressum</a></li>
                                <li><a href="#" title="[TITLE]">Datenschutz</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
