{{!-- components/footer --}}
{{> scrolltop }}
{{> nav-services }}
<footer class="footer">
    <div class="footer__main">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-lg-9">
                    <div class="row">
                        <div class="col-xs-12 col-lg-3">
                            <div class="footer__content">
                                <p class="util-h4 footer__heading"><a href="#" title="[TITLE]">Karriere & Ausbildung</a></p>

                                <ul class="footer__list">
                                    <li><a href="#" title="[TITLE]">Stellenangebote</a></li>
                                    <li><a href="#" title="[TITLE]">MediClin als Arbeitgeber</a></li>
                                    <li><a href="#" title="[TITLE]">Berufe bei MediClin</a></li>
                                    <li><a href="#" title="[TITLE]">MediClin Akademie</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-xs-12 col-lg-3">
                            <div class="footer__content">
                                <p class="util-h4 footer__heading"><a href="#" title="[TITLE]">Services</a></p>

                                <ul class="footer__list">
                                    <li><a href="#" title="[TITLE]" target="_blank">Mediathek</a></li>
                                    <li><a href="#" title="[TITLE]" target="_blank" rel="">Checkliste</a></li>
                                    <li><a href="#" title="[TITLE]" target="_blank" rel="noopener">Gesundheitscheck</a></li>
                                    <li><a href="#" title="[TITLE]" target="_blank" rel="nofollow">FAQ</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-xs-12 col-lg-3">
                            <div class="footer__content">
                                <p class="util-h4 footer__heading"><a href="#" title="[TITLE]">Kontakt</a></p>

                                <ul class="footer__list">
                                    <li><a href="#" title="[TITLE]" target="_blank">Kontakt</a></li>
                                    <li><a href="#" title="[TITLE]" target="_blank">Ansprechpartner</a></li>
                                    <li><a href="#" title="[TITLE]" target="_blank">Lage & Anfahrt</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-xs-12 col-lg-3">
                            <div class="footer__content">
                                <p class="util-h4 footer__heading"><a href="#" title="[TITLE]">Über MediClin</a></p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-lg-3">
                    <div class="footer__content">
                        <img class="footer__logo" src="/Resources/Public/img/svg/mediclin-logo.svg" title="[TITLE]" alt="MEDICLIN" width="138" height="40" />

                        <p>Zu MediClin gehören bundesweit 36 <a href="#" title="[TITLE]">Kliniken</a>, sieben <a href="#" title="[TITLE]">Pflegeeinrichtungen</a>, drei <a href="#" title="[TITLE]">ambulante Pflegedienste</a> und neun <a href="#" title="[TITLE]">Medizinische Versorgungszentren</a>. MediClin verfügt über knapp 8.300 Betten und beschäftigt rund 9.900 Mitarbeiter.</p>

                        <div class="footer__sociallinks">
                            <ul>
                                <li><a href="#" title="[TITLE]"><img src="/Resources/Public/img/svg/youtube.svg" title="[TITLE]" alt="YouTube" width="34" height="24" /></a></li>
                                <li><a href="#" title="[TITLE]"><img src="/Resources/Public/img/svg/facebook.svg" title="[TITLE]" alt="facebook" width="24" height="24" /></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer__secondary">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="footer__content">
                        <small>© 2018 MediClin AG, Offenburg – Ein Unternehmen der Asklepios Gruppe</small>

                        <div class="footer__links">
                            <ul>
                                <li><a href="#" title="[TITLE]">Impressum</a></li>
                                <li><a href="#" title="[TITLE]">Datenschutz</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
