{{!-- components/anchor-nav --}}
<nav class="anchor-nav">
	<ul>
		<li><a href="#" class="anchor-link" title="[TITLE]" data-target="Presse">First Link</a></li>
		<li><a href="#" class="anchor-link" title="[TITLE]" data-target="Kontakt">Second Link</a></li>
		<li><a href="#" class="anchor-link" title="[TITLE]" data-target="Karriere">Third Link</a></li>
		<li><a href="#" class="anchor-link" title="[TITLE]" data-target="Downloads">Fourth Link</a></li>
		<li><a href="#" class="anchor-link" title="[TITLE]" data-target="Investor Relations">Fifth Link</a></li>
	</ul>

	<div class="anchor-nav--mobile">
		<div class="custom-select" data-placeholder="Bitte wählen" data-label="{{selectLabel}}">
			<select id="anchor-nav" name="anchor-nav">
				<option value=""></option>
				<option value="Presse">Presse</option>
				<option value="Kontakt">Kontakt</option>
				<option value="Karriere">Karriere</option>
				<option value="Downloads">Downloads</option>
				<option value="Investor Relations">Investor Relations</option>
			</select>
		</div>
	</div>
</nav>
